<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.Jpush.fami" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Jpush</name>
    <js-module name="Jpush" src="www/Jpush.js">
        <clobbers target="Jpush" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            
            <preference name="fireDate" value= "$fireDate"/>
            <preference name="alertBody" value= "$alertBody"/>
            <preference name="badge" value= "$badge"/>
            <preference name="alertAction" value= "$alertAction"/>
            <preference name="notificationKey" value= "$notificationKey"/>
            <preference name="userInfo" value= "$userInfo"/>
            <preference name="soundName" value= "$soundName"/>


            <feature name="Jpush">
                <param name="ios-package" value="Jpush" />
            </feature>
        </config-file>
        
        <source-file src="src/ios/Jpush.m" />
        
        <framework src="SystemConfiguration.framework" weak="true" />
        <framework src="CoreTelephony.framework" weak="true" />
        <framework src="Security.framework" weak="true" />
        <framework src="UIKit.framework" weak="true" />
        <framework src="Foundation.framework" weak="true" />
        <framework src="CoreGraphics.framework" weak="true" />
        <framework src="CoreFoundation.framework" weak="true" />
        <framework src="CFNetwork.framework" weak="true" />
        
        <source-file src="src/ios/lib/jpush-ios-2.1.7.a" framework="true" />
        <header-file src="src/ios/lib/JPUSHService.h" />

    </platform>
</plugin>